body {
    background-color: yellowgreen;
  }

  .left {
      position: absolute;
      top: 14px;
      left: 20px;
      display: inline-block;
  }

  .left img {
      width: 100px;
  }

  .mid {
      width: 42%;
      top: 14px;
      margin: 20px auto;
      display: block;
  }

  .navbar {
      font-family: 'Baloo Thambi 2', cursive;
      border-radius: 8px;
      display: inline-block;
  }

  .navbar li {
      font-size: 23px;
      display: inline-block;
  }

  .navbar li a {
      color: white;
      text-decoration: none;
      padding: 10px 13px;
      border-radius: 10px;
  }

  .navbar li a:hover {
      color: black;
      background-color: white;
  }

  .right {
      position: absolute;
      top: 44px;
      right: 20px;
      display: inline-block;
  }

  .btn2 {
      font-family: 'Baloo Thambi 2', cursive;
      border-radius: 8px;
      font-size: 14px;
      padding: 8px;
  }

  .btn2:hover {
      color: gray;
      background-color: goldenrod;
  }
  .title{
    font-size: 75px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Oswald";
    text-align: center;
    padding-top: 50px;
  }
  .body-text{
    width: 700px;
    height: 210px;
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    margin: auto;
  }
 .container{
    width: auto;
    display: flex;
   
  
 }
 .container img{
    width: 280px;
    height: 340px;
 }
 .box1{ 
    margin: auto;
    text-align: center;
    width: 450px;
 }
 .box2{
    margin: auto;
    text-align: center;
    width: 450px;
 }
 .box3{
    margin: auto;
    text-align: center;
    width: 450px;
 }